<!DOCTYPE html>
<html lang="ko">
<head>
    <title> CS360 Team#10 </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/adventure.css">

    
    <style type="text/css">
        .bg_highlight { background: #f7f7f7; }
    </style>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $(".type-category .type").click(function() {
            $(this).toggleClass("bg_highlight");
        });
    })
    </script>
</head>

<body class="align">
    <header>
        <div class="wrapper">
            <a href="/"><img src="/res/logo.png" width="150"></a>
            <nav>
                <ul class="menu">
                    <li><a href="/"> 도감 </a></li>
                    <li><a href="/play"> 놀이방 </a></li>
                    <li><a href="/adventure"> 탐험 </a></li>
                    <li><a href="/"> 상점 </a></li>
                    <li><a href="/login"> 
                        <% if(name){ %> <%= name %> 
                        <% }else{ %> 로그인 <% } %>             
                    </a></li>
                    <li><a href="/api/logout"> 
                        <% if(name){ %> 로그아웃 <% }
                        else{ %><% } %>             
                    </a></li>
                    
                </ul>
            </nav>
       </div>
    </header>
    
    <div>

    <div class="background-adventure">
        <img src="maps/dot_pokemap.png"></img>
    </div>

    <div class="png-adventure">
        <img onClick="javascript:location.href='/';" src="maps/고대유적.png"></img> 
    </div>
<!-- 
    <div class="png-adventure">
        <img onClick="javascript:location.href='/';" src="maps/도시.png"></img>
     </div>   
    <div class="png-adventure">
        <img onClick="javascript:location.href='/';" src="maps/사막.png"></img>
    </div>
    <div class="png-adventure">    
        <img onClick="javascript:location.href='/';" src="maps/신전.png"></img>
    </div>
    <div class="png-adventure">    
        <img onClick="javascript:location.href='/';" src="maps/오른쪽산.png"></img>            
    </div>
    <div class="png-adventure">    
        <img onClick="javascript:location.href='/';" src="maps/왼쪽산.png"></img>
    </div>
    <div class="png-adventure">
        <img onClick="javascript:location.href='/';" src="maps/초.png"></img>
    </div> -->
    <!-- <img src="maps/dot_pokemap.png"></img> -->

    </div>
    
</body>


</html>
