<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sign.css">
    <title>login</title>
<style>
</style>
</head>

<body class="align">
  <header>
      <div class="wrapper">
          <a href="/"><img src="/res/logo.png" width="150"></a>
          <nav>
              <ul class="menu">
                  <li><a href="/"> 도감 </a></li>
                  <li><a href="/login"> 놀이방 </a></li>
                  <li><a href="/adventure"> 탐험 </a></li>
                  <li><a href="#"> 상점 </a></li>
                  <li><a href="/login"> 로그인 </a></li>
              </ul>
          </nav>
     </div>
  </header>

  <div class="site__container">

    <div class="grid__container">

      <form action="/api/login" method="post" class="form form--login">

        <div class="form__field">
          <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
          <input name="name" id="login__username" type="text" class="form__input" placeholder="Username" required>
        </div>

        <div class="form__field">
          <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
          <input name="password" id="login__password" type="password" class="form__input" placeholder="Password" required>
        </div>

        <div class="form__field">
          <input type="submit" value="Log In">
        </div>

      </form>

      <p class="text—center">회원이 아니신가요?   <a href="/register">  회원가입  </a> <span class="fontawesome-arrow-right"></span></p>

    </div>

  </div>


</body>
</html>
