<!DOCTYPE html>
<html lang="ko">
<head>
    <title> CS360 Team#10 </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/style.css">

    <p id="nickname"> <%= nickname %> </p>
</head>

<body>
    <header>
        <div class="wrapper">
            <a href="/"><img src="/res/logo.png" width="150"></a>
            <nav>
                <ul class="menu">
                    <li><a href="/play/return"> 도감 </a></li>
                    <li><a href="/play"> 놀이방 </a></li>
                    <li><a href="/adventure"> 탐험 </a></li>
                    <li><a href="/shop"> 상점 </a></li>
                    <li>
                        <% if (name) { %>
                            <a href="/mypage" > <%= name %> </a>
                        <% } else { %>
                            <a href="/login" > 로그인 </a>
                        <% } %>                    
                    </li>
                    <li><a href="/play/logout"> 
                        <% if(name){ %> 로그아웃 <% }
                        else{ %><% } %>             
                    </a></li>
                </ul>
            </nav>
       </div>
    </header>
  <canvas></canvas>  
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/avatar.js"></script>
  <script src="js/index.js"></script>
  <script src="js/engine.js"></script>
</html>