<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sign.css">
	<title>login</title>

<body class="align">
	<header>
			<div class="wrapper">
					<a href="/"><img src="/res/logo.png" width="150"></a>
					<nav>
							<ul class="menu">
									<li><a href="/"> 도감 </a></li>
									<li><a href="/"> 탐험 </a></li>
									<li><a href="/"> 상점 </a></li>
									<li><a href="/login"> 로그인 </a></li>
							</ul>
					</nav>
		 </div>
	</header>

  <div class="site__container">

    <div class="grid__container">

      <form action="/api/register" method="POST" class="form form--login">

        <div class="form__field">
          <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
          <input name="name" id="login__username" type="text" class="form__input" placeholder="Username" required>
        </div>

		<div class="form__field">
			<label class="fontawesome-tag" for="login__nickname"><span class="hidden">Nickname</span></label>
			<input name = "nickname" id="login__nickname" type="text" class="form__input" placeholder="Nickname" required>
		</div>

        <div class="form__field">
          <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
          <input name="password" id="login__password" type="password" class="form__input" placeholder="Password" required>
        </div>

        <div class="form__field">
          <input type="submit" value="회원가입">
        </div>

      </form>
      <p class="text--center">이미 회원이신가요?   <a href="/login">  로그인하기  </a> <span class="fontawesome-arrow-right"></span></p>
    </div>
  </div>
</body>

</html>