<!DOCTYPE html>
<html lang="ko">
<head>
    <title> CS360 Team#10 </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <a href="/"><img src="/res/logo.png" width="150"></a>
            <nav>
                <ul class="menu">
                    <li><a href="/"> 도감 </a></li>
                    <li><a href="/"> 탐험 </a></li>
                    <li><a href="/"> 상점 </a></li>
                    <li>
                        <% if (username) { %>
                            <a href="/mypage"> <%= username %> </a>
                        <% } else { %>
                            <a href="/login"> 로그인 </a>
                        <% } %>
                    </li>
                </ul>
            </nav>
       </div>
    </header>

    <div class="register-container">
        <form action="/api/sign_up" method="post">
            <div class="header">
                회원가입
            </div>
            <div class = "row-container">
                <div class="row">
                    <input type="text" name="id" placeholder="아이디">   
                </div>
                <div class="row">
                    <input type="password" name="password" placeholder="비밀번호">
                </div>
                <div class="row">
                    <input type="text" name="nickname" placeholder="닉네임">
                </div>
            </div>

            <!-- <div class = "row-container">
                <div class="row">
                    <input type="text" name="name" placeholder="이름">
                </div>
                <div class="row">
                    <input type="text" name="email" placeholder="이메일">
                </div>
            </div> -->
            
            <div class="footer">
                <button id="register" input type="submit" > 가입 </button>
            </div>
        </form>
    </div> 

</body>