html {
	overflow: hidden;
}

.background-adventure {
	position: absolute;
	width: 1320px;
	top: 80px;
	left: 300px;
}

.background-adventure img {
	width: 100%;
	border-radius: 50%;
}

.png-adventure {
	position: absolute;
	visibility: hidden;
	width: 1320px;
	top: 80px;
	left: 300px;
}

.png-adventure img {
	width: 100%;
	border-radius: 50%;
}

.side {
	position: absolute;
	top: 50px;
}

.side img {
	width: 100%;
}

#pikachu-box {
	left: -100px;
}

#squirtle-box {
	width: 600px;
	top: 300px;
	left: 1350px;
}
