@font-face {
    font-family: "NanumGothicBold";
    src:url("../fonts/NanumGothicBold.ttf");
}

* {margin: 0; padding: 0;}
li { list-style: none; }
a { text-decoration: none; }

.wrapper {width: auto; margin: 0 auto;}

header {
    height: 75px;
    background-color:#FFCC33;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}

header img {
    margin-top: 10px;
    margin-left: 50px;
    line-height: 75px;
    float: left;
}

.menu { float: right; margin-right: 50px;}

.menu li {
    font-family: "NanumGothicBold";
    list-style: none;
    float: left;
}

.menu a {
    color: black;
    text-decoration: none;
    line-height: 75px;
    padding: 0 15px;
    display: block;
}

.menu a:hover {
    color: skyblue;
}
